{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="text-heading">My Profile</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col my-auto text-center">
                <h4>
                    <p><a href="" class="loppis-now-button btn btn-lg rounded-0 text-uppercase py-3">My Loppises</a></p>
                    </p><a href="{% url 'add_loppis' %}" class="loppis-now-button btn btn-lg rounded-0 text-uppercase py-3">Add Loppis</a></p>
                    </p><a href="{% url 'view_wishlist' %}" class="loppis-now-button btn btn-lg rounded-0 text-uppercase py-3">My Wishlist</a></p>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}