{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Wishlist</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if wishlist_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Title & Seller</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date & Time</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>

                            {% for item in wishlist_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.loppis.image.url }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.loppis.title }}</strong></p>
                                    <p class="my-0 small mt-2">Seller: {{ item.loppis.seller }}</p>
                                </td>
                                <td class="py-3">
                                    {% now "Y-m-d" as todays_date %}
                                    {% if todays_date > item.loppis.end_date|date:"Y-m-d" %}
                                        <p class="text-uppercase late-text"><strong>Ended!</strong></p>
                                    {% else %}
                                        <p class="text-uppercase available-text"><strong>Available</strong></p>
                                    {% endif %}
                                </td>
                                <td class="py-3 w-25">
                                    <p class="my-0">
                                        <p class="my-0">Date: {{ item.loppis.start_date }} - {{ item.loppis.end_date }}</p>
                                        <p class="my-0">Time: {{ item.loppis.start_time }} - {{ item.loppis.end_time }}</p>
                                    </p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">Address: </p>
                                    <p class="my-0">{{ item.loppis.street_address }}</p>
                                    <p class="my-0">{{ item.loppis.city }}, {{ item.loppis.county }}</p>
                                    <p class="my-0">{{ item.loppis.postcode }}, {{ item.loppis.country }}</p>
                                </td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your wishlist is empty.</p>
                    <a href="{% url 'loppises' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Find Loppis</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}