html {
    height: 100%;
}

body {
    background: url('/media/background_main.jpg') no-repeat center center fixed; /*Credits for this image belongs to freepik. More details in README.md*/
    background-size: cover;
    height: calc(100vh - 164px);
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.text-heading {
    color:#52797b;
    font-size: 40px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-img {
    width: auto;
    height: 70px;
}

.header-row {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

.fa-icon {
    color:#2C2C2C;
    font-size: 25px;
}

.fa-icon:hover {
    color:#52797b;
}

.btn-light {
    background:#52797b;
    color:#fff;
}

.text-dark {
    color:#2C2C2C !important;
}

.text-light {
    color:#52797b !important;
}

a.text-light:hover {
    color:#2C2C2C !important;
}

.border-dark {
    border: 1px solid #2C2C2C !important;
}

.go-up-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid #52797b;
    color: #52797b;
    border-radius: 50%;
}

.go-up-link,
.remove-item {
    cursor:pointer;
}

/* Home Page */
.loppis-now-button {
    background: #ffb300;
    color: #2C2C2C;
    min-width: 260px;
    margin: 20px;
}

.loppis-now-button:hover,
.loppis-now-button:active,
.loppis-now-button:focus,
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background: #2C2C2C;
    color: white;
}

/*Loppis Page*/

.more-details {
    background-color: #2C2C2C;
    color: white;
    padding: 5px;
    margin: 10px 0 20px 0;
}

.more-details:hover {
    background-color:#A7C8C6;
    color:#2C2C2C;
}

.card-img-top{
    height: 80%;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.wishlist-btn {
    position: absolute;
    right: 22px;
    background:#2C2C2C;
    color: white !important;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wishlist-btn:hover,
.wishlist-btn:active,
.wishlist-btn:focus {
    background: white;
    color:#2C2C2C !important;
}

.late-tag {
    position: absolute;
    right: 15px;
    background:#a14040;
    color: white !important;
    border-radius: 20px;
    padding: 10px;
}

.available-tag {
    position: absolute;
    right: 15px;
    background:#35771f;
    color: white !important;
    border-radius: 20px;
    padding: 10px;
}

.late-text {
    color:#a14040;
}

.available-text {
    color:#35771f;
}

.loppis-details-container {
    background-color: #2C2C2C;
    padding: 20px;
    color:#A7C8C6;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /*Box shadow by CSS Scan (Details in Readme.md)*/
}


.detail {
    color:#ffb300;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*Footer*/

.footer {
    bottom: 0;
    background:#2C2C2C;
    color:white;
    text-align: center;
  }

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
} 

.social-icon {
    color: #A7C8C6;
}

.social-icon:hover, .social-link:hover {
    color: #ffb300;
    text-decoration: none;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color:#52797b;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:#fff;
    border: 1px solid #52797b;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: white;
    background-color:#2C2C2C;
    border-color:#2C2C2C;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* QUESTION FORM */

#content {
    width: 250px;
}
.question_content {
    height: 300px;
    border: none;
    background: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .text-heading {
        font-size: 30px;
    }

    .loppis-now-button {
        min-width: 160px;
        margin: 20px;
    }

    .dropdown-tem {
        margin-left: -25px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container{
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .text-heading {
        font-size: 30px;
    }

    .loppis-now-button {
        min-width: 160px;
        margin: 20px;
    }

    .dropdown-item {
        margin-left: -25px;
    }
}