html {
    height: 100%;
}

body {
    background: url('/media/background_main.jpg') no-repeat center center fixed; /*Credits for this image belongs to freepik. More details in README.md*/
    background-size: cover;
    height: calc(100vh - 164px);
    color: #101A21;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-img {
    width: auto;
    height: 100px;
}

.header-row {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

.fa-icon {
    color:#101A21;
    font-size: 30px;
}

.fa-icon:hover {
    color:#025b7c;
}

.text-dark {
    color:#101A21;
}

.btn-dark {
    background:#101A21;
    color: white;
}

.text-dark {
    color:#101A21 !important;
}

.border-dark {
    border: 1px solid #101A21 !important;
}

/* Home Page */
.loppis-now-button {
    background: #FFB300;
    color:#101A21;
    min-width: 260px;
    margin: 20px;
}

.loppis-now-button:hover,
.loppis-now-button:active,
.loppis-now-button:focus,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #025b7c;
    color: white;
}

/*Footer*/

.footer {
    bottom: 0;
    background:#101A21;
    color:white;
    text-align: center;
  }

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
} 

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}