html {
    height: 100%;
}

body {
    background: url('/media/background_main.jpg') no-repeat center center fixed; /*Credits for this image belongs to freepik. More details in README.md*/
    background-size: cover;
    height: calc(100vh - 164px);
    color: #101A21;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.text-heading {
    color:#2C2C2C;
    font-size: 40px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-img {
    width: auto;
    height: 70px;
}

.header-row {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

.fa-icon {
    color:#2C2C2C;
    font-size: 25px;
}

.fa-icon:hover {
    color:#74A8A5;
}

.btn-dark {
    background:#2C2C2C;
    color: white;
}

.text-dark {
    color:#2C2C2C !important;
}

.border-dark {
    border: 1px solid #2C2C2C !important;
}

.go-up-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid #74A8A5;
    color: #74A8A5;
    border-radius: 50%;
}

.go-up-link {
    cursor:pointer;
}

/* Home Page */
.loppis-now-button {
    background: #ffb300;
    color: black;
    min-width: 260px;
    margin: 20px;
}

.loppis-now-button:hover,
.loppis-now-button:active,
.loppis-now-button:focus,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #2C2C2C;
    color: white;
}

/*Loppis Page*/

.more-details {
    background-color: #2C2C2C;
    color: white;
    padding: 5px;
    margin: 10px 0 20px 0;
}

.more-details:hover {
    background-color:#A7C8C6;
    color:#2C2C2C;
}

.card-img-top{
    height: 80%;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.wishlist-btn {
    position: absolute;
    right: 22px;
    background:#1f1f1f;
    color: white !important;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wishlist-btn:hover,
.wishlist-btn:active,
.wishlist-btn:focus {
    background: white;
    color:#1f1f1f !important;
}

.late-tag {
    position: absolute;
    right: 15px;
    background:#a14040;
    color: white !important;
    border-radius: 20px;
    padding: 10px;
}

.available-tag {
    position: absolute;
    right: 15px;
    background:#35771f;
    color: white !important;
    border-radius: 20px;
    padding: 10px;
}

.late-text {
    color:#a14040;
}

.available-text {
    color:#35771f;
}

.loppis-details-container {
    background-color: #1f1f1f;
    padding: 20px;
    color:#A7C8C6;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /*Box shadow by CSS Scan (Details in Readme.md)*/
}


.detail {
    color:#ffb300;
}

/*Footer*/

.footer {
    bottom: 0;
    background:#2C2C2C;
    color:white;
    text-align: center;
  }

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
} 

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container{
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}