<footer class="mt-auto footer">
    <div class="input-group w-50 text-center">
        <input type="email" placeholder="Sigup to our Newsletter" aria-describedby="newsletter-button"
            class="form-control border border-dark rounded-0">
        <div class="input-group-append">
            <button id="newsletter-button" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
        </div>
    </div>
    <div class="social">Follow us on <a href="" target="_blank">Facebook</a></div>
    <p class="copyright">Sverige Loppis © 2022</p>
</footer>