<div class="collapse navbar-collapse d-lg-none" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-lg-none">
        <li class="list-inline-item">
            <a href="{% url 'home' %}" class="text-dark nav-link mr-5">
                <p class="my-0">Home</p>
            </a>
          </li>
        <li class="list-inline-item">
            <a href="" class="text-dark nav-link mr-5">
                <p class="my-0">About</p>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'loppises' %}" class="text-dark nav-link mr-5">
                <p class="my-0">Loppis</p>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'add_loppis' %}" class="text-dark nav-link mr-5">
                <p class="my-0">Add</p>
            </a>
          </li>
    </ul>
</div>