{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'advert/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="text-heading mb-4">Loppis Ad Payment</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 advert-lg-last mb-5">
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Loppis Ad summary</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal: SEK 5</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to publish your Loppis Ad with Sverige Loppis</p>
                <form action="{% url 'advert' %}" method="POST" id="payment-form">
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-dark px-2 w-auto">Payment</legend>
                        <!--A Stripe card element will go here-->
                        <div class="mb-3" id="card-element"></div>

                        <!--Used to display form errors-->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Loppis Ad</span>
                        </a>
                        <button id="submit-button" class="btn btn-light rounded-0">
                            <span class="font-weight-bold">Complete Payment</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>SEK 5</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}